#logoAnimation {
  width: 1980px;
  height: 1080px;
  background: url("../Pictures/logo.png") left center;
  background-size: cover;
  animation: play .5s steps(5) infinite;
  display: inline-block;
}

@keyframes play {
  100% {background-position: -9900px;}
}
