

.done{
  color: red;
  text-decoration: line-through;
}

div.showsGetSell{
  width: 100%;
  display: inline-block;
  padding-bottom: 150px;
}

div#sell{
  float: left; 
  background-color: rgba(111, 224, 22, 1);
}

p#sellHeading{
  background-color: rgb(181, 231, 143);
}

div#collect{
  float: right;
  background-color: rgba(22, 182, 224, 1);
}

p#collectHeading{
  background-color: rgb(121, 203, 224);
}

div.digitizeShows{
  width: 100%;
  display: inline-block;
}

div#needDigitized{
  float: left;
  background-color: rgba(22, 97, 224, 1);
}

p#needDigitizingHeading{
  background-color: rgb(104, 150, 227);
}

div#process{
  float: right;
  background-color: rgba(224, 222, 22, 1);
}

p#processHeading{
  background-color: rgb(214, 214, 157);
}
