body{
  background-image: url("../Pictures/Background.svg");
  }

div#logo{
  /* background-color: rgba(255, 255, 255, 0.1); */
  width: 400px;
  margin: 0 auto;
  }

/* Text animation of Logo */

g#text{
  animation: text 4s infinite;
  visibility: hidden;
  }

@keyframes text {

75%{
  visibility: hidden;
}
  76%{
    visibility: visible;
  }
}

/* Lightening Animation */

g#bolts{
  animation: bolts 8s infinite;
  visibility: hidden;
}

@keyframes bolts {

75%{
  visibility: hidden;
}
  76%{
    visibility: visible;
  }
}
