div#search{
  text-align: center;
}

body{
  background-image: url("../../Pictures/Background.svg");
  }

p{
  width: 500px;
  margin: 0;
  border: 0;
}

a{
text-decoration: none;
color: black;
}

#table-container{
  background-color: rgba(255, 255, 255, 0.62);
}
