body {
  background-image: url("../icons/Background.svg");
  background-repeat: repeat;
}

/* Custom Audio Controls */
svg {
  margin: 0 auto;
  display: block;
}

         /* Text Animation */

#animatedText {
  animation: flash 4s infinite;
  visibility: hidden;
}

@keyframes flash {
  84% {
    visibility: hidden;
  }
85% {
  visibility: visible;
}
}

/* Drop Down Box */

.dropbtn {
    background-color: black;
    color: white;
    padding: 8px;
    font-size: 18px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 0;
    margin-left: 40%;
}

.otrPlaylistContent {
    display: none;
    position: absolute;
    background-color: lightgrey;
    min-width: 50px;
    z-index: 1;
}

.otrPlaylistContent object {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;

}

.otrPlaylistContent object:hover {
    background-color: white;
}

.dropdown:hover .otrPlaylistContent{
   display: block;
}

.dropdown:hover .dropbtn{
    background-color: grey;
}

li {
  list-style: none;
  margin: none;
}

/* User List Styles */

.userBtn {
    background-color: black;
    color: white;
    padding: 8px;
    font-size: 18px;
    border: none;
}

.userDropDown {
    position: relative;
    display: inline-block;
    width: 0;
    margin-left: 15%;
}

.userPlaylistContent {
    display: none;
    position: absolute;
    background-color: lightgrey;
    min-width: 50px;
    z-index: 1;
    }

.userPlaylistContent object {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;

}

.userPlaylistContent object:hover {
    background-color: white;
}

.userDropDown:hover .userPlaylistContent{
   display: block;
}

.userDropDown:hover .userBtn{
    background-color: grey;
}

.userDropDown .userPlaylistContent ul li {
  list-style: none;
  margin-top: 15px;
}

/* Submit Form for User Playlists */


/* div.button{
  margin-top: 10px;
} */

input[type=submit]{
  background: url("../icons/addButton.png");
  height: 60px;
  width: 60px;
  border: none;
}

/* New User Station Modal */

/* div.inputFields{
  text-align: center;
  margin: 0 auto;
  width: 372px;
  background-color: rgba(255, 255, 255, 0.47);
}*/


button#hide{
  background: url("../icons/close.png");
  width: 20px;
  height: 20px;
  border: none;
  margin-left: 40px;
}

.inputFields{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

form.submitUserStation{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
/* background-color: rgb(198, 22, 2); */
background-image: url("../icons/Background.svg");
padding: 1rem 1.5rem;
width: 24rem;
border-radius: 0.5rem;
border-style: solid hidden hidden hidden;
border-color: rgb(82, 7, 7);
border-width: 25px 0 0 0;
}

.show-modal{
opacity: .90;
visibility: visible;
transform: scale(1.0);
transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* Upload JSON Modal */
div.uploadField{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.jsonModal{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-image: url("../icons/Background.svg");
padding: 1rem 1.5rem;
width: 24rem;
border-radius: 0.5rem;
border-style: solid hidden hidden hidden;
border-color: rgb(82, 7, 7);
border-width: 25px 0 0 0;
}

button#uploadHidden{
  background: url("../icons/close.png");
  width: 20px;
  height: 20px;
  border: none;
  }

  .show-modal1{
  opacity: .90;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  }
